<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="TestPackage.loginpagetestcase"/>
      <class name="TestPackage.activity_testcase"/>
      <class name="TestPackage.otherreqtestcase"/>
      <class name="TestPackage.send_kudos"/>
      <class name="MyNewMavenProject.MavenJava.AppTest"/>
      <class name="TestPackage.Integrationmodfirst_testcase"/>
      <class name="TestPackage.kudos_search"/>
      <class name="TestPackage.Integrationmod3testcase"/>
      <class name="TestPackage.qttestcase2"/>
      <class name="TestPackage.QTTestCase"/>
      <class name="TestPackage.homepagetestcase"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
